.App {
  margin: 2rem;
}

li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

li button {
  width: fit-content;
  margin-left: 1rem;
}

.buttons {
  display: flex;
}

.completed{
  text-decoration: line-through;
}